 /* color scheme */
  --main-background: #1B1A23;
  --secondary-background: #22212C;
  --highlighted-background: #353243;
  --font: #F8F8F3;
  --font-dark: #D5D4DE;
  --font-hover: white;
  --primary: #9580FF;
  --primary-light: #81FFEA;
  --primary-dark: #00588e;
  --primary-dark-accent: #586e75;
  --external-link: #8AFF7F;
  --tag: #FE7FBF;
  --reference: #FE9580;
  --italics: #FE9580;
  --highlight: #FEFF7F;
  /* Primary fonts */
  --main-font: 'Avenir Next', sans-serif;
  --main-font-color: var(--font);
  --main-font-size: 1.0em;
  --code-font: 'Source Code Pro', 'Courier New', Courier, monospace;
  --code-font-color: var(--font);
  /* font colors */
  --page-link-color: var(--primary-light);
  --external-link-color: var(--external-link);
  --sidebar-link-color: var(--external-link);
  --page-brackets: var(--primary);
  --h1-font-color: var(--font);
  --h2-font-color: var(--font);
  --h3-font-color: var(--font);
  --strong: var(--primary);
  --emphasis: var(--italics);
  --tag-font-color: var(--tag);
  --tag-font-color-hover: var(--font-hover);
  --tag-hover-bg: var(--secondary-background);
  --sidebar-font-color: var(--font-dark);
  --sidebar-font-color-hover: var(--font-hover);
  --sidebar-hover-bg: var(--secondary-background);
  --block-ref-bg: var(--secondary-background);
  --block-ref-border: var(--reference);
  --block-ref-hover: var(--font-hover);
  --block-ref-hover-bg: var(--secondary-background);
  --block-ref-font-size: 1.0em;
  --new-page-color: var(--primary);
  --highlight-font-color: var(--main-background);
  --highlight-background-color: var(--highlight);
  --highlight-link-color: var(--primary);
  --search-font-color: var(--font-dark);
  --ref-count-font-size: 12px;
  --breadcrumb-color: var(--font-dark);
  --breadcrumb-font-size: 13px;
  --breadcrumb-line-height: 0.85em;
  /* backgrounds and outlines */
  --body-bg: var(--main-background);
  --left-sidebar-bg: var(--secondary-background);
  --right-sidebar-bg: var(--secondary-background);
  --icon-color: var(--primary);
  --icon-bg-hover: var(--secondary-background);
  --icon-color-hover: var(--primary);
  --h1-bg: transparent;
  --hr: var(--font);
  --code-bg: var(--secondary-background);
  --checkmark-color: var(--primary);
  --pages-row-highlight: var(--secondary-background);
  --pages-header-row: var(--secondary-background);
  --reference-item-bg: var(--secondary-background);
  --bullet: var(--primary-light);
  --bullet-closed: var(--primary);
  --bullet-outline: var(--secondary-background);
  --bullet-position: 4px;
  --block-highlight: var(--primary-dark);
  --block-highlight-bg: rgba(0, 0, 0, 0.4);
  --block-highlight-grey: var(--primary-dark-accent);
  --current-block-highlight: rgba(255, 255, 255, 0.07);
  --search-outline: var(--secondary-background);
  --search-bg: var(--secondary-background);
  --inline-search-bg: var(--secondary-background);
  --popover-bg: var(--secondary-background);
  --select-bg: var(--secondary-background);
  --datepicker-bg: transparent;
  --datepicker-day-wrapper: var(--primary);
