/* ------------ Custom data tags ------------ */
/* Custom data tags */

/* Custom data tags based on page_name headers*/

/* Projects */

span.rm-page-ref[data-tag^="W/"] , span[data-link-title^='W/'] .rm-page-ref{
    background:  #569C3B;
    color: #fff;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}
/* zettels */
span.rm-page-ref[data-tag^="Z: "] {
    background: #569C3B;
    color: #fff;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}

/* Custom data tags */
span.rm-page-ref[data-tag="imp"], span[data-link-title^='imp'] .rm-page-ref {
    background: #4747c4;
    color: white;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}

span.rm-page-ref[data-tag="q"], span[data-link-title^='q'] .rm-page-ref {
    background: #e80202;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}
span.rm-page-ref[data-tag="fix"], span[data-link-title^='fix'] .rm-page-ref {
    background: #e80202;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}
span.rm-page-ref[data-tag="follow_up"], span[data-link-title^='follow_up'] .rm-page-ref {
    background: #e80202;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}

span.rm-page-ref[data-tag="Backlog"], , span[data-link-title^='Backlog'] .rm-page-ref {
    background: #e80202;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}

span.rm-page-ref[data-tag="To Do"] , span[data-link-title^='To Do'] .rm-page-ref {
    background: #e80202;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}

span.rm-page-ref[data-tag="Doing"], span[data-link-title^='Doing'] .rm-page-ref {
    background: #2196F3;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}


span.rm-page-ref[data-tag="Archive"] , span[data-link-title^='Archive'] .rm-page-ref{
    background: #FFC107;
    color: rgb(0,0,0);
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}


span.rm-page-ref[data-tag="flag"], span[data-link-title^='flag'] .rm-page-ref {
    background: #e80202;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}

span.rm-page-ref[data-tag="nb"], span[data-link-title^='nb'] .rm-page-ref {
    background: #6a09bf;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}
span.rm-page-ref[data-tag="p"] , span[data-link-title^='p'] .rm-page-ref{
    background: #40bf09;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}
span.rm-page-ref[data-tag="fixed"] , span[data-link-title^='fixed'] .rm-page-ref{
    background: #40bf09;
    color: white;
    padding: 1px 1px;
    font-weight: 500;
    line-height: 1em;
}


span.rm-page-ref[data-tag="idea"] , span[data-link-title^='idea'] .rm-page-ref{
    background: #0DBAC6;
    color: #fff;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}
span.rm-page-ref[data-tag="stats"], span[data-link-title^='stats'] .rm-page-ref {
    background: #0DBAC6;
    color: #fff;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}
span.rm-page-ref[data-tag="TIL"]{
    background: #0DBAC6;
    color: #fff;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}

span.rm-page-ref[data-tag="quotes"] , span[data-link-title^='quotes'] .rm-page-ref{
    background: #0DBAC6;
    color: #fff;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}

span.rm-page-ref[data-tag="Action Items"], span[data-link-title^='Action Items'] .rm-page-ref {
    background: #4747c4;
    color: #fff;
    padding: 1px 1px;
    line-height: 1em;
    font-weight: 500;
}

span.rm-page-ref[data-tag="Work Log"], span[data-link-title^='Work Log'] .rm-page-ref {
    color: #4f9d06;
    padding: 1px 1px;
    font-weight: 600;
    line-height: 1em;
}
span.rm-page-ref[data-tag="Tasks"] , span[data-link-title^='Tasks'] .rm-page-ref{
    color: #4f9d06;
    padding: 1px 1px;
    font-weight: 600;
    line-height: 1em;
}
span.rm-page-ref[data-tag="Writing"] , span[data-link-title^='Writing'] .rm-page-ref{
    color: #4f9d06;
    padding: 1px 1px;
    font-weight: 600;
    line-height: 1em;
}

span.rm-page-ref[data-tag="Tools"] , span[data-link-title^='Tools'] .rm-page-ref{
    color: #4f069d;
    padding: 1px 1px;
    font-weight: 600;
    line-height: 1em;
}



/* Minimal Queries */
[data-tag="minimal"],
[data-tag="minimal"] + .rm-query .rm-title-arrow-wrapper,
[data-tag="minimal"] + .rm-query .zoom-mentions-view {
    display: none!important;
}

[data-tag="minimal"] + .rm-query .rm-query-title::after {
    content: " #minimal"
}

/* css to add italics + lines for complex page names */
.rm-page-ref-link-color .rm-page-ref-link-color {
    font-style: italic;
}
.rm-page-ref-link-color .rm-page-ref-link-color .rm-page-ref-link-color {
    font-weight: bold;
}
.rm-page-ref-link-color .rm-page-ref-link-color:hover {
    text-decoration: overline;
}
.rm-page-ref-link-color .rm-page-ref-link-color .rm-page-ref-link-color:hover {
    background-color: rgb(206, 238, 254);
}
.rm-alias-external:after {
    content: ' 🔗'
}
